body{
margin:0;
font-family:Arial;
text-align:center;
color:white;
background-color:black;
}

.container{
margin-top:80px;
}

h1{
font-size:55px;
color:#ffcc00;
}

#quote{
font-size:22px;
margin-bottom:20px;
}

#countdown{
font-size:28px;
margin:20px;
}

.slideshow{
width:300px;
height:300px;
margin:auto;
position:relative;
}

.slide{
width:100%;
height:100%;
position:absolute;
display:none;
border-radius:10px;
object-fit:cover;
}

button{
padding:12px 25px;
font-size:18px;
border:none;
background:#ff4081;
color:white;
border-radius:6px;
cursor:pointer;
margin-top:20px;
}

canvas{
position:fixed;
top:0;
left:0;
pointer-events:none;
}